<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UI 界面（勾选其中一个）</key>
		<array>
			<dict>
				<key>title</key>
				<string>时尚版</string>
				<key>rawValue</key>
				<string>BBSSDKUI</string>
                <key>platId</key>
                <string>100080</string>
			</dict>
			<dict>
				<key>title</key>
				<string>简约版</string>
				<key>rawValue</key>
				<string>BBSSDKUI_WF</string>
                <key>platId</key>
                <string>1000801</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
