<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UI 界面</key>
		<array>
			<dict>
				<key>title</key>
				<string>默认UI</string>
				<key>rawValue</key>
				<string>CMSSDKUI</string>
                <key>platId</key>
                <string>100130</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
