<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ShareSDK</key>
		<array>
			<string>ShareSDK is the most comprehensive Social SDK in the world,which share easily with 40+ platforms.</string>
			<string>https://github.com/MobClub/ShareSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-5/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90/</string>
			<string>10001</string>
		</array>
	</dict>
	<dict>
		<key>SMSSDK</key>
		<array>
			<string>mob.com免费短信验证码SDK</string>
			<string>https://github.com/MobClub/SMSSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-6/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90-11/</string>
			<string>10002</string>
		</array>
	</dict>
	<dict>
		<key>MobLinkPro</key>
		<array>
			<string>MobLink 3.x版本，mob.com网页一键唤醒App并到达指定内页SDK</string>
			<string>https://github.com/MobClub/MobLinkPro-for-iOS.git</string>
			<string>http://wiki.mob.com/moblink-product-doc/</string>
			<string>http://wiki.mob.com/moblinkpro-2/</string>
			<string>1000015</string>
		</array>
	</dict>
	<dict>
		<key>MobLink</key>
		<array>
			<string>MobLink ，mob.com网页一键唤醒App并到达指定内页SDK</string>
			<string>https://github.com/MobClub/MobLink-for-iOS.git</string>
			<string>http://wiki.mob.com/moblink-product-doc/</string>
			<string>http://wiki.mob.com/moblink-ios-doc/</string>
			<string>10003</string>
		</array>
	</dict>
	<dict>
		<key>MobPush</key>
		<array>
			<string>mob.com 官方提供的推送SDK</string>
			<string>https://github.com/MobClub/MobPush-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-2/</string>
			<string>http://wiki.mob.com/mobpush-for-ios/</string>
			<string>10004</string>
		</array>
	</dict>
	<dict>
		<key>AnalySDK</key>
		<array>
			<string>mob.com 官方提供的统计SDK</string>
			<string>https://github.com/MobClub/AnalySDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B%EF%BC%88mob%E7%BB%9F%E8%AE%A1%EF%BC%89/</string>
			<string>http://wiki.mob.com/%E3%80%90%E4%BA%91%E7%AB%AF%E7%89%88%E3%80%91%E3%80%90ios%E3%80%91%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90%E6%96%87%E6%A1%A3%EF%BC%88mob%E7%BB%9F%E8%AE%A1%E5%88%86%E6%9E%90%EF%BC%89/</string>
			<string>10005</string>
		</array>
	</dict>
	<dict>
		<key>ShareREC</key>
		<array>
			<string>ShareREC是Mob推出的最完美手游录像解决方案，开发者者只需3分钟快速集成，即可让游戏拥有强大的录制分享功能</string>
			<string>https://github.com/MobClub/ShareREC-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-4/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90-8/</string>
			<string>10006</string>
		</array>
	</dict>
	<dict>
		<key>PaySDK</key>
		<array>
			<string>mob.com免费好用的支付SDK</string>
			<string>https://github.com/MobClub/MOBPaySDK-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-9mobpay/</string>
			<string>http://wiki.mob.com/mobpaysdk%E9%9B%86%E6%88%90%E6%96%87%E6%A1%A3/</string>
			<string>10007</string>
		</array>
	</dict>
	<dict>
		<key>BBSSDK</key>
		<array>
			<string>BBSSDK把你的论坛搬到手机上，简单配置完成后，即可快速初始化您的论坛SDK，集成生成App，开启您的移动时代。</string>
			<string>https://github.com/MobClub/BBSSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B/</string>
			<string>http://wiki.mob.com/6803-2/</string>
			<string>10008</string>
		</array>
	</dict>
	<dict>
		<key>MobAPI</key>
		<array>
			<string>mob.com MobAPI SDK</string>
			<string>https://github.com/MobClub/MobAPI-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-3/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90-4/</string>
			<string>10009</string>
		</array>
	</dict>
	<dict>
		<key>ShopSDK</key>
		<array>
			<string>mob.com 商城SDK</string>
			<string>https://github.com/MobClub/ShopSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-shopsdk/</string>
			<string>http://wiki.mob.com/shopsdk%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90%E6%96%87%E6%A1%A3/</string>
			<string>10010</string>
		</array>
	</dict>
	<dict>
		<key>MobIM</key>
		<array>
			<string>A Lite IMSDK Provided By Mob.</string>
			<string>https://github.com/MobClub/MobIM-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-moblink/</string>
			<string>http://wiki.mob.com/mobim-ios-%E9%9B%86%E6%88%90/</string>
			<string>10011</string>
		</array>
	</dict>
	<dict>
		<key>UMSSDK</key>
		<array>
			<string>mob.com的用户管理系统</string>
			<string>https://github.com/MobClub/UMSSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-7/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90-14/</string>
			<string>10012</string>
		</array>
	</dict>
	<dict>
		<key>CMSSDK</key>
		<array>
			<string>mob.com 官方提供的内容管理系统 SDK</string>
			<string>https://github.com/MobClub/CMSSDK-for-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-8/</string>
			<string>http://wiki.mob.com/%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90-15/</string>
			<string>10013</string>
		</array>
	</dict>
	<dict>
		<key>MOBFoundation</key>
		<array>
			<string>mob.com的公共库</string>
			<string>https://github.com/MobClub/MOBFoundation.git</string>
			<string>http://www.mob.com/</string>
			<string>http://www.mob.com/</string>
			<string>10000</string>
		</array>
	</dict>
	<dict>
		<key>JiMu</key>
		<array>
			<string>mob.com组建SDK依赖库</string>
			<string>https://github.com/MobClub/JiMu-for-iOS.git</string>
			<string>http://www.mob.com/</string>
			<string>http://www.mob.com/</string>
			<string>10014</string>
		</array>
	</dict>
	<dict>
		<key>MOBFoundationEx</key>
		<array>
			<string>mob.com的公共库</string>
			<string>https://github.com/MobClub/MOBFoundation.git</string>
			<string>http://www.mob.com/</string>
			<string>http://www.mob.com/</string>
			<string>99999</string>
		</array>
	</dict>
	<dict>
		<key>GrowSDK</key>
		<array>
			<string>增长变现解决方案通过阅读、签到、分享等方式积攒金币兑换零钱，并支持提现。</string>
			<string>https://github.com/MobClub/GrowSolution-For-iOS.git</string>
			<string>http://wiki.mob.com/%E4%BA%A7%E5%93%81%E7%AE%80%E4%BB%8B-9/</string>
			<string>http://wiki.mob.com/ios-growsdk/</string>
			<string>100999</string>
		</array>
	</dict>
</array>
</plist>
