<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>社交平台</key>
		<array>
			<dict>
				<key>title</key>
				<string>QQ</string>
				<key>rawValue</key>
				<string>QQ</string>
				<key>platId</key>
				<string>11001</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信(不含支付)</string>
				<key>rawValue</key>
				<string>WeChat</string>
				<key>platId</key>
				<string>11002</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信(含支付)</string>
				<key>rawValue</key>
				<string>WeChatFull</string>
				<key>platId</key>
				<string>11003</string>
			</dict>
			<dict>
				<key>title</key>
				<string>新浪微博</string>
				<key>rawValue</key>
				<string>SinaWeibo</string>
				<key>platId</key>
				<string>11004</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Facebook</string>
				<key>rawValue</key>
				<string>Facebook</string>
				<key>platId</key>
				<string>11005</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Twitter</string>
				<key>rawValue</key>
				<string>Twitter</string>
				<key>platId</key>
				<string>11006</string>
			</dict>
			<dict>
				<key>title</key>
				<string>短信</string>
				<key>rawValue</key>
				<string>SMS</string>
				<key>platId</key>
				<string>11007</string>
			</dict>
			<dict>
				<key>title</key>
				<string>邮件</string>
				<key>rawValue</key>
				<string>Mail</string>
				<key>platId</key>
				<string>11008</string>
			</dict>
			<dict>
				<key>title</key>
				<string>拷贝</string>
				<key>rawValue</key>
				<string>Copy</string>
				<key>platId</key>
				<string>11009</string>
			</dict>
			<dict>
				<key>title</key>
				<string>腾讯微博</string>
				<key>rawValue</key>
				<string>TencentWeibo</string>
				<key>platId</key>
				<string>11010</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆瓣</string>
				<key>rawValue</key>
				<string>DouBan</string>
				<key>platId</key>
				<string>11011</string>
			</dict>
			<dict>
				<key>title</key>
				<string>人人网</string>
				<key>rawValue</key>
				<string>RenRen</string>
				<key>platId</key>
				<string>11012</string>
			</dict>
			<dict>
				<key>title</key>
				<string>开心网</string>
				<key>rawValue</key>
				<string>KaiXin</string>
				<key>platId</key>
				<string>11013</string>
			</dict>
			<dict>
				<key>title</key>
				<string>印象笔记</string>
				<key>rawValue</key>
				<string>Evernote</string>
				<key>platId</key>
				<string>11014</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Google+</string>
				<key>rawValue</key>
				<string>GooglePlus</string>
				<key>platId</key>
				<string>11015</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Instagram</string>
				<key>rawValue</key>
				<string>Instagram</string>
				<key>platId</key>
				<string>11016</string>
			</dict>
			<dict>
				<key>title</key>
				<string>LinkedIn</string>
				<key>rawValue</key>
				<string>LinkedIn</string>
				<key>platId</key>
				<string>11017</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tumblr</string>
				<key>rawValue</key>
				<string>Tumblr</string>
				<key>platId</key>
				<string>11018</string>
			</dict>
			<dict>
				<key>title</key>
				<string>打印</string>
				<key>rawValue</key>
				<string>Print</string>
				<key>platId</key>
				<string>11019</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Instapaper</string>
				<key>rawValue</key>
				<string>Instapaper</string>
				<key>platId</key>
				<string>11020</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Pocket</string>
				<key>rawValue</key>
				<string>Pocket</string>
				<key>platId</key>
				<string>11021</string>
			</dict>
			<dict>
				<key>title</key>
				<string>有道云笔记</string>
				<key>rawValue</key>
				<string>YouDaoNote</string>
				<key>platId</key>
				<string>11022</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Pinterest</string>
				<key>rawValue</key>
				<string>Pinterest</string>
				<key>platId</key>
				<string>11023</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Flickr</string>
				<key>rawValue</key>
				<string>Flickr</string>
				<key>platId</key>
				<string>11024</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Dropbox</string>
				<key>rawValue</key>
				<string>Dropbox</string>
				<key>platId</key>
				<string>11025</string>
			</dict>
			<dict>
				<key>title</key>
				<string>VKontakte</string>
				<key>rawValue</key>
				<string>VKontakte</string>
				<key>platId</key>
				<string>11026</string>
			</dict>
			<dict>
				<key>title</key>
				<string>易信</string>
				<key>rawValue</key>
				<string>YiXin</string>
				<key>platId</key>
				<string>11027</string>
			</dict>
			<dict>
				<key>title</key>
				<string>明道</string>
				<key>rawValue</key>
				<string>MingDao</string>
				<key>platId</key>
				<string>11028</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Line</string>
				<key>rawValue</key>
				<string>Line</string>
				<key>platId</key>
				<string>11029</string>
			</dict>
			<dict>
				<key>title</key>
				<string>WhatsApp</string>
				<key>rawValue</key>
				<string>WhatsApp</string>
				<key>platId</key>
				<string>11030</string>
			</dict>
			<dict>
				<key>title</key>
				<string>KaKao</string>
				<key>rawValue</key>
				<string>KaKao</string>
				<key>platId</key>
				<string>11031</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Messenger</string>
				<key>rawValue</key>
				<string>FacebookMessenger</string>
				<key>platId</key>
				<string>11032</string>
			</dict>
			<dict>
				<key>title</key>
				<string>支付宝</string>
				<key>rawValue</key>
				<string>AliPaySocial</string>
				<key>platId</key>
				<string>11033</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DingTalk</string>
				<key>rawValue</key>
				<string>DingTalk</string>
				<key>platId</key>
				<string>11034</string>
			</dict>
			<dict>
				<key>title</key>
				<string>YouTube</string>
				<key>rawValue</key>
				<string>YouTube</string>
				<key>platId</key>
				<string>11035</string>
			</dict>
			<dict>
				<key>title</key>
				<string>美拍</string>
				<key>rawValue</key>
				<string>MeiPai</string>
				<key>platId</key>
				<string>11036</string>
			</dict>
			<dict>
				<key>title</key>
				<string>中国移动</string>
				<key>rawValue</key>
				<string>CMCC</string>
				<key>platId</key>
				<string>11037</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Telegram</string>
				<key>rawValue</key>
				<string>Telegram</string>
				<key>platId</key>
				<string>11038</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Reddit</string>
				<key>rawValue</key>
				<string>Reddit</string>
				<key>platId</key>
				<string>11039</string>
			</dict>
			<dict>
				<key>title</key>
				<string>电信天翼</string>
				<key>rawValue</key>
				<string>ESurfing</string>
				<key>platId</key>
				<string>11040</string>
			</dict>
			<dict>
				<key>title</key>
				<string>FB Account Kit</string>
				<key>rawValue</key>
				<string>FacebookAccount</string>
				<key>platId</key>
				<string>11041</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>UI 界面</key>
		<array>
			<dict>
				<key>title</key>
				<string>默认分享视图</string>
				<key>rawValue</key>
				<string>ShareSDKUI</string>
				<key>platId</key>
				<string>100010</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>配置文件方式分享</key>
		<array>
			<dict>
				<key>title</key>
				<string>配置文件方式分享</string>
				<key>rawValue</key>
				<string>ShareSDKConfigFile</string>
				<key>platId</key>
				<string>1100100</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
